// custom variables
/// Colors
$primary: #4CAF50;
$secondary:#7C4DFF;
$light: #C8E6C9;
$dark:#212121;

/// cards
$card-border-radius: 0;

// import boostrap
@import '../node_modules/bootstrap/scss/bootstrap'

