:root {
    --dark-blue: #0A3871;

    --clr-primary: #4CAF50;
    --clr-primary-light: #C8E6C9;
    --clr-primary-dart: #388E3C;
    --clr-accent: #7C4DFF;
    --clr-accent-secondary: #CFBDFF;
    --clr-primary-text: #212121;
    --clr-secondary-text: #757575;
    --clr-white: #FFFFFF;
    --clr-backgroud: #F3F3F3;
    --clr-gray-hover:#f4f4f4;

    --max-height-card: 364px;
    --max-width-card: 224px;
    --default-margin: 16px;
    --default-padding: 12px;

    --font-size-small: 0.875em;

    /* swipper Navigation CSS Custom Properties */
    --swiper-navigation-color: var(--clr-primary);
    --swiper-navigation-size: 22px;
    --swiper-theme-color: var(--clr-accent) !important;
}

.cart-mobile-button {
    display: none;
    border-color: transparent !important;
}

.search-input {
    display: none !important;
}

.search-input-desktop {
    width: 45vw;
}


/* cuando la pantalla sea menor que 991px */
@media only screen and (max-width: 991px) {
    .cart-mobile-button {
        display: block;
    }

    .search-input {
        display: block !important;
    }

    .navbar-desktop {
        display: none !important;
    }

}

@media only screen and (min-width: 991px) {
    .mobile-brand {
        display: none !important;
    }
    
    .only-mobile-display{
        display: none !important;
    }
}

/* Cards */
.product-card {
    max-height: var(--max-height-card);
    max-width: var(--max-width-card);
}

.item-link {
    cursor: pointer;
    height: 100%;
    /*position: absolute;*/ /* Esto me dio problemas por lo que lo voy a quitar, parece que funciona */
    /*El problema que me dio es que amontonaba las cartas y solo se veia una linea.*/
    text-decoration: none;
    width: 100%;
    z-index: 1;
}

.card-backgroud-hover:hover {
    background-color: var(--clr-gray-hover);
}

/** Card-styel2 **/
.cardstyle2 {
    /* This property is for when the card doesn't have enought text the row wrap to the content and the image
    It's not showing appropriate (in the index sections with the 3 final publications)
    */
    height: 100%;
}

.small-text {
    font-size: var(--font-size-small);
}

/* swiperjs styles */
.swiper {
    width: 100%;
    height: calc(var(--default-margin) + var(--max-height-card) + var(--default-margin));
}

.main-slider{
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
}

.swiper-button-pre:hover,
.swiper-button-next:hover {
    color: var(--clr-primary-dart);
}

/* detail-view styles */
@media only screen and (max-width: 575px) {
    .desktop-image-list {
        display: none !important;
    }
}

/* Links */
.link-hover:hover > p{
    color: var(--clr-primary) !important;
}