:root {
    --dark-blue: #0A3871;

    --clr-primary: #4CAF50;
    --clr-primary-light: #C8E6C9;
    --clr-primary-dart: #388E3C;
    --clr-accent: #7C4DFF;
    --clr-accent-secondary: #CFBDFF;
    --clr-primary-text: #212121;
    --clr-secondary-text: #757575;
    --clr-white: #FFFFFF;
    --clr-backgroud: #F3F3F3;
    --clr-gray-hover:#f4f4f4;

    --max-height-card: 364px;
    --max-width-card: 224px;
    --default-margin: 16px;
    --default-padding: 12px;

    /* swipper Navigation CSS Custom Properties */
    --swiper-navigation-color: var(--clr-primary);
    --swiper-navigation-size: 22px;
    --swiper-theme-color: var(--clr-accent) !important;
}

.cart-mobile-button {
    display: none;
    border-color: transparent !important;
}

.search-input {
    display: none !important;
}

.search-input-desktop {
    width: 45vw;
}

@media only screen and (max-width: 991px) {
    .cart-mobile-button {
        display: block;
    }

    .search-input {
        display: block !important;
    }

    .navbar-desktop {
        display: none !important;
    }

}

@media only screen and (min-width: 991px) {
    .mobile-brand {
        display: none !important;
    }
}

/* Cards */
.product-card {
    max-height: var(--max-height-card);
    max-width: var(--max-width-card);
}

.item-link {
    cursor: pointer;
    height: 100%;
    /*position: absolute;*/ /* Esto me dio problemas por lo que lo voy a quitar, parece que funciona */
    /*El problema que me dio es que amontonaba las cartas y solo se veia una linea.*/
    text-decoration: none;
    width: 100%;
    z-index: 1;
}

.card-backgroud-hover:hover {
    background-color: var(--clr-gray-hover);
}

/* swuperjs styles */
.swiper {
    width: 100%;
    height: calc(var(--default-margin) + var(--max-height-card) + var(--default-margin));
}

/* voy a quitar esto porque me esta ocasionando problemas en la vista de detalles.
Busca otra forma de resolver el problema aque habiar resulto con esto para que no rompa
con el codigo de la vista de detalle.
.swiper-wrapper {
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
}
*/

.swiper-button-pre:hover,
.swiper-button-next:hover {
    color: var(--clr-primary-dart);
}

/* detail-view styles */
@media only screen and (max-width: 575px) {
    .desktop-image-list {
        display: none !important;
    }
}